<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ShortCourseDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
									Data Source=D:\SETEC INSTITUTE\Year 2\C# 2\Homework\Project Assignment\ShortCourseTraining\Database\ShortCourseTraining.mdb"
			providerName="System.Data.OleDb"/>
		
	</connectionStrings>
</configuration>